<div class="container">

    <h1>Tarea 2, To-do list</h1>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Tarea</label>
            <input type="text" class="form-control" id="task" placeholder="Ingrese tarea" [(ngModel)]="editedTaskName" name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Campo requerido</small>
        </div>

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Completeda</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.taskName}}</td>
                <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"></td>
                <td> <button id="btnEdit" class="btn btn-warning btn-sm" (click)="onEdit(i)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Eliminar</button></td>
            </tr>

        </tbody>
    </table>
</div>